.container {
    width: 205px;
    height: 415px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 40px;
    box-shadow: 4px 4px 3px rgba(122, 122, 122, 0.5);
    color: #ffffff;
    padding: 15px;
}

.currentValueOnScreen {
    height: 170px;
    font-family: Arial;
    font-size: 39px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.row {
    display: flex;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.buttons {
    border-radius: 50%;
    position: relative;
    top: 4px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: #f9f9f9;
    margin-bottom: 8px;
    line-height: 35px;
    text-align: center;
    user-select: none;
    transition: all 250ms ease-currentScoreboard;
    color: #ffffff;
    font-size: 16px;

}

.buttons:hover {
    box-shadow: inset 0 0px 37px rgb(255 252 252 / 65%);
}

.buttons:focus-visible {
    outline: none;
}

.first-line {
    background: #A4A4A4;
    border: 2px solid #b0afaf;
    color: #000000;
    font-weight: bold;
}

.operations {
    background-color: #FD9E0C;
    border: 2px solid #feb545;
    font-size: 25px;

}

.numbers {
    background-color: #343436;
    border: 2px solid #3f3f42;
}

.zero {
    width: 90px;
    border-radius: 45px;
    text-align: left;
    padding-left: 16px;
}

.comma {
    font-family: cursive;
    font-size: 21px;
}